@import "../style.scss";


// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

.popupContainer {
    @include flex-column;
    align-items     : center;
    background-color: $master-slack;
    color           : $master-trello;
    font-size       : 20px;
    height          : 35rem;
    width           : 40rem;
    justify-content : center;

    button {}
}